

html {background: #d4d4d4;}
body {background: white ;
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;
    width: 700px;
    height: 1200px;
    font-family: Arial;
    font-size: 15px;
    }

 h1 {text-align: center;
    margin: auto;
    padding-top: 30px;
    padding-bottom: 20px;
    }

.img-box {
    display: block;
    margin: auto; 
    text-align: center
    }
    
hr {
    border: none; 
    background-color: black; 
    color: black; 
    height: 2px;
    }

